<link rel="stylesheet" href="/css/footer.css">
    
<div class = "footer">
    <div class = "footer-container">
        <div class = "footer-text">Major Course Output</div>
        <div class = "footer-text">CCAPDEV (S15)</div>
        <div class = "footer-text">Del Rosario | Ong | Punsalan | Tria</div>
    </div>
</div>