<link rel="stylesheet" href="/css/header.css">

<div class = "header">
    <div class = "header-content-container">
        <a href="/">
            <div class = "logo-container">
                <i class="fa-solid fa-people-group"></i>
                DLSU Orgs To Pick
            </div>
        </a>
        <div class = "options-container">
            <a href = "reviewpage.html">
                <div class = "options-item"></i>Write a Review</div>
            </a>
            <a href = "search-org.html">
                <div class = "options-item">View All Orgs</div>
            </a>
            <a href = "search-review.html">
                <div class = "options-item">Search Reviews</div>
            </a>           
        </div>
        <div class = "profile-container">
            <a href="/signup">
                <div class = "sign-up">Sign Up</div>
            </a>
            <a href="/login">
                <div class = "log-in">Log In</div>
            </a>         
        </div>
    </div>
</div>