<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class = "section">
        <div class = "about-container">

            <div class = "header-text">The Developers</div>
            <div class = "people-container">
                <div class = "person">
                    <img src = "/images/default-icon-user.png">
                    <div class = "name">Del Rosario, Ezra Jeonadab G.</div>
                </div>
            </div>
            <div class = "people-container">
                <div class = "person">
                    <img src = "/images/default-icon-user.png">
                    <div class = "name">Ong, Kyle Edward M.</div>
                </div>
            </div>
            <div class = "people-container">
                <div class = "person">
                    <img src = "/images/default-icon-user.png">
                    <div class = "name">Punsalan, Emmanuel Gerald G.</div>
                </div>
            </div>
            <div class = "people-container">
                <div class = "person">
                    <img src = "/images/default-icon-user.png">
                    <div class = "name">Tria, Chynna Mae Z.</div>
                </div>
            </div>

            <div class = "header-text" style="margin-top: 40px;">NPM Packages Used</div>
            <div class = "reference-container">
                <div class = "parag"> express </div>
                <div class = "parag"> mongoose </div>
                <div class = "parag"> express-handlebars </div>
                <div class = "parag"> path </div>
                <div class = "parag"> fs </div>
                <div class = "parag"> bcrypt </div>
                <div class = "parag"> express-session </div>
                <div class = "parag"> dotenv </div>
            </div>

            <div class="header-text">Our References
            </div>
            <div class = "reference-container">
                <div class = "parag" ><a href = "https://fonts.google.com">Google Fonts for Fonts</a></div>
                <div class = "parag"><a href = "https://fontawesome.com">Font Awesome for Icons</a></div>
                <div class = "parag"><a href = "https://www.canva.com">Canva for Other Assets</a></div>
                <div class = "parag"><a href = "https://images.ctfassets.net/61mmmjz7t2hb/1Ywaa1YxRhq7jddpLB2Kkw/91e6f289d6af5febe5f10294e7251127/vertical_logo_ver__black_.png">DLSU DSS Logo</a></div>
                <div class = "parag"><a href = "https://dlsu-lscs.org/about-us/">DLSU LSCS Logo</a></div>
                <div class = "parag"><a href = "https://www.facebook.com/groups/2775627089362422/">DLSU AU Image</a></div>
                <!-- LINKS NOT WORKING
                <div class = "parag">https://scontent.fmnl25-2.fna.fbcdn.net/v/t39.30808-6/474444678_619379693793371_5071102139988313382_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFip3M_KB-Y6oef1NsGU8pKhX8Z-pJVtMCFfxn6klW0wExdX6aRe90x3OB--VI40aTkjLEjNe7gF0nCN8rmxFb1&_nc_ohc=xj7cL7O4J-MQ7kNvgGTDT42&_nc_oc=Adj1sHcrGj2UHKi_w5ngAO1X5P7YjHzb_WG9JI2drggkFhvd40fFnSdhNoKBGPp5I5Y&_nc_zt=23&_nc_ht=scontent.fmnl25-2.fna&_nc_gid=AldTMdpV-yquRk8bBCK6KBq&oh=00_AYEpVCiDK-oP-9zihWfTt8mZZknSuESM6EhnQVK2-pxH9Q&oe=67D1A793</div>
                <div class = "parag">https://scontent.fmnl25-4.fna.fbcdn.net/v/t39.30808-6/462565143_937343991758517_3934195989556103177_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHW0OTVE0jVoUOI122jDP2nrIUjDCvDYLmshSMMK8NguQHgclBdI5m0tqypBkzgENKH3LfWXuzbFon7Ovbm7cgJ&_nc_ohc=Sr224LNqbcUQ7kNvgEGIsaS&_nc_oc=Adj0TeqeJDeuvY0X93pfLfPDdi4-K0p1twT4P6BtNyPovS-nvInbuaaIzBkR79EUPlo&_nc_zt=23&_nc_ht=scontent.fmnl25-4.fna&_nc_gid=AIBVEFdy18e4y8-vr10TwAU&oh=00_AYHjp-8xHnm81CgZSo48f9Me8K4VMUNVdWD_s8S-T6W7Dg&oe=67D1ADE4</div>
                <div class = "parag">https://scontent.fmnl25-6.fna.fbcdn.net/v/t39.30808-6/462053925_866165838993413_4313319478849776581_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFtGUwHWZY1GiK-ne16Bx2FPS5nrmApXzg9LmeuYClfOG3IljsRXCH6Gx1tkK5ekqEr6XRJ2WiRXpABqcUdHnWy&_nc_ohc=uZ3wZiAbrTwQ7kNvgHSd4tF&_nc_oc=AdiTNoNN0FFcv1R1vTg_4CAAc6auaOf_BYQghDfZwwv7j6Z-djXDFpCTqQuAkDq43uU&_nc_zt=23&_nc_ht=scontent.fmnl25-6.fna&_nc_gid=AIm27xKkZW7J5yMA9n2PyJP&oh=00_AYEmPNW-nC08WsOyCC--9ON793UVgCsAEyOBOnZYE-xnhw&oe=67D1B009</div>
                <div class = "parag">https://scontent.fmnl25-6.fna.fbcdn.net/v/t39.30808-6/306916579_461094302727853_6621450303091594203_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGYdeb-EEF1X6hIfZ4xURt-cs2Z6xdKwKpyzZnrF0rAqrzeWnGjRc2wyLdey1bhPOPieJ6ijoUyURTy3FlX68mg&_nc_ohc=mMsiqkKmgfYQ7kNvgHLS-4a&_nc_oc=AdgIjd0OWeUcvZ8YHSxOnMleRAl2tvds1QQLH1D9fPxoNnDYBsrVNLTJjVq5TmsiQRk&_nc_zt=23&_nc_ht=scontent.fmnl25-6.fna&_nc_gid=A_NBkWgxHyw9F9PZpB2gaXP&oh=00_AYEjp9WkIz8vZHo50_A-4l_LRnHP9_NV1Kf_y_3PVDMUPQ&oe=67D1A3BE</div>
                -->
            </div>

            <div class = "header-text" style="margin-top: 40px;">Disclaimer</div>
            <div class = "reference-container">
                <div class = "parag">This website was made in compliance with the requirements set by the course CCAPDEV (Web Application Development) and is used solely for educational purpose.</div>
            </div>

        </div>
    </div>
</body>
</html>