<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class = "section">
        <div class = "about-container">
            <div class = "header-text">The Developers</div>
            <div class = "people-container">
                <div class = "person">
                    <img src = "/images/default-icon-user.png">
                    <div class = "name">Del Rosario, Ezra Jeonadab G.</div>
                </div>
            </div>
            <div class = "people-container">
                <div class = "person">
                    <img src = "/images/default-icon-user.png">
                    <div class = "name">Ong, Kyle Edward M.</div>
                </div>
            </div>
            <div class = "people-container">
                <div class = "person">
                    <img src = "/images/default-icon-user.png">
                    <div class = "name">Punsalan, Emmanuel Gerald G.</div>
                </div>
            </div>
            <div class = "people-container">
                <div class = "person">
                    <img src = "/images/default-icon-user.png">
                    <div class = "name">Tria, Chynna Mae Z.</div>
                </div>
            </div>

            <div class = "header-text" style="margin-top: 40px;">Our References</div>
            <div class = "reference-container">
                <div class = "parag">https://fonts.google.com</div>
                <div class = "parag">https://fontawesome.com</div>
                <div class = "parag">https://www.canva.com</div>
            </div>
        </div>
    </div>
</body>
</html>