<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/editorg.css">
    </head>

    <body>
        <form>
            <div class="content">
                <div class="edit-box">
                    <div class="edit-container">
                        <h5 style="font-size: 40px; margin: 0px; margin-top: 10px;">Edit Org Profile</h5>
                        <div class="profile">
                            <img class="org-profile-pic" src="https://images.ctfassets.net/61mmmjz7t2hb/LYaxJ195ZBD5yOEKXOQOR/c09ea48259f53fdf6cb9b4d0992f61eb/Untitled__4_.png">
                        </div>
                        <button class="change-btn">Change Logo</button>
                        <div class="desc-container">
                            <div style="font-size: 20px; margin-right: 10px;"><b>Description</b></div>
                            <div class="desc-box-container"><textarea class="desc-box"></textarea></textarea></div>
                        </div> 
                        <div class="btn-container">
                            <button type="reset" class="discard-btn" type>Discard Changes</button>
                            <button type="submit" class="save-btn">Make Changes</button>
                        </div>
                    </div> 
                </div>
            </div>
        </form>
    </body>
</html>