<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/editorg.css">
        <script src="/js/editorg.js"></script>
    </head>

    <body>
        <form id="edit-org-form" method="POST">
            <div class="wrapper">
                <div class="content">
                    <div class="edit-box">
                        <div class="edit-container">
                            <h5>Edit Org Profile</h5>

                            <div class="profile">
                                <img class="org-profile-pic" id="preview-image" src="{{org.orgPic}}" alt="Organization Logo">
                            </div> <!--profile-->

                            <label for="logo-url">Change Logo URL:</label>
                            <input type="text" id="logo-url" name="orgPic" value="{{org.orgPic}}" placeholder="Enter image URL">

                            <div class="desc-container">
                                <b>Description</b>
                                <div class="desc-box-container">
                                    <textarea class="desc-box" id="org-desc" name="orgDesc" required>{{org.orgDesc}}</textarea>
                                </div>
                            </div> <!--desc-container-->

                            <div class="btn-container">
                                <button type="reset" class="discard-btn" id="discardChanges">Discard</button>
                                <button type="submit" class="save-btn">Make Changes</button>
                            </div> <!--btn-container-->
                        </div> <!--edit-container-->
                    </div> <!--edit-box-->
                </div> <!--content -->
            </div> <!--wrapper-->
        </form>
    </body>
</html>
