<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>  
    <div class = "hook-section">
        <div class = "title">Be Part of Something Bigger...</div>
        <div class ="search-container">
            <a href = "/searchorg">
                <i class = "fa-solid fa-magnifying-glass search-icon"></i>
            </a>           
            <input type = "text" class="search" placeholder = "Join an organization in DLSU!">
        </div>
    </div>
        
    <div class = "recent-reviews-section">
        <div class = "header-text">Recent Reviews</div>

        <div class = "recent-reviews-container">
            {{#each reviews}}
                {{#if (lt @index 6)}} <!-- only loading 6 reviews in -->
                    {{> review loggedIn=../loggedIn}}
                {{/if}}
            {{/each}}
        </div>
    </div>

    <div class = "sort-section">
        <div class = "sort-by-rating-section">
            <div class = "header-text">Search by Rating</div>
            <div class = "sort-by-rating-container">
                <a href = "/searchorg">
                    <div class = "sort-stars-container">
                        <div class = "star-number">5</div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </a>
                <a href = "/searchorg">
                    <div class = "sort-stars-container">
                        <div class = "star-number">4</div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </a>
                <a href = "/searchorg">
                    <div class = "sort-stars-container">
                        <div class = "star-number">3</div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </a>
                <a href = "/searchorg">
                    <div class = "sort-stars-container">
                        <div class = "star-number">2</div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </a>
                <a href = "/searchorg">
                    <div class = "sort-stars-container">
                        <div class = "star-number">1</div>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </a>
            </div>
        </div>

        <div class = "sort-by-college-section">
            <div class = "header-text">Search By College</div>
            <div class = "sort-by-school-container">
                <a href = "/searchorg">
                    <div class = "college-container">
                        <div class = "college-content-container">
                            <div class = "college-icon">
                                <i class="fa-solid fa-computer"></i>
                            </div>
                            <div class = "college-text">CCS</div>
                        </div>
                    </div>
                </a>

                <a href = "/searchorg">
                    <div class = "college-container">
                        <div class = "college-content-container">
                            <div class = "college-icon">
                                <i class="fa-solid fa-brain"></i>
                            </div>
                            <div class = "college-text">CLA</div>
                        </div>
                    </div>
                </a>

                <a href = "/searchorg">
                    <div class = "college-container">
                        <div class = "college-content-container">
                            <div class = "college-icon">
                                <i class="fa-solid fa-suitcase"></i>
                            </div>
                            <div class = "college-text">COB</div>
                        </div>
                    </div>
                </a>

                <a href = "/searchorg">
                    <div class = "college-container">
                        <div class = "college-content-container">
                            <div class = "college-icon">
                                <i class="fa-solid fa-book"></i>
                            </div>
                            <div class = "college-text">COE</div>
                        </div>
                    </div>
                </a>

                <a href = "/searchorg">
                    <div class = "college-container">
                        <div class = "college-content-container">
                            <div class = "college-icon">
                                <i class="fa-solid fa-gear"></i>
                            </div>
                            <div class = "college-text">GCOE</div>
                        </div>
                    </div>
                </a>
                
                <a href = "/searchorg">
                    <div class = "college-container">
                        <div class = "college-content-container">
                            <div class = "college-icon">
                                <i class="fa-solid fa-comment"></i>
                            </div>
                            <div class = "college-text">Other</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script src="/js/reviews.js"></script>
</body>
</html>