<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/css/reviewedit.css">
    </head>

    <body>
        <div class="content">
            <div class="edit-box">
                <div class="edit-container">
                    <h5 style="font-size: 40px; margin: 0px; margin-top: 10px;">Edit Review</h5>
                    <div class="star-container">
                        <div style="font-size: 20px; margin-right: 10px;"><b>Rating</b></div>
                        <div style="margin-left: 140px;">
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        </div>
                    </div> 
                    
                    <div class="desc-container">
                        <div style="font-size: 20px; margin-right: 10px;"><b>Description</b></div>
                        <div class="desc-box-container"><textarea class="desc-box"></textarea></textarea></div>
                    </div> 

                    <div class="changes-container">
                        <u style="font-size: 20px;">Discard Changes</u>
                        <button class="changes-button">Make Changes</button>
                    </div>
                </div> 
            </div>
        </div>
    </body>
</html>