<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/css/reviewedit.css">
        <script src="/js/reviewedit_func.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <div class="content">
                <div class="edit-box">
                    <div class="edit-container">
                        <h5>Edit Review</h5>

                        <form id="editReviewForm" data-review-id="{{review._id}}">
                            <div class="rating-container">
                                <label>Rating:</label>
                                <div class="rating">
                                    <span class="star" data-value="1"><i class="fa-solid fa-star"></i></span>
                                    <span class="star" data-value="2"><i class="fa-solid fa-star"></i></span>
                                    <span class="star" data-value="3"><i class="fa-solid fa-star"></i></span>
                                    <span class="star" data-value="4"><i class="fa-solid fa-star"></i></span>
                                    <span class="star" data-value="5"><i class="fa-solid fa-star"></i></span>
                                </div>
                                <input type="hidden" id="rating" name="rating" value="{{review.reviewRating}}" required>
                            </div>

                            <div class="desc-container">
                                <label>Description:</label>
                                <div class="desc-box-container">
                                    <textarea id="description" class="desc-box">{{review.reviewText}}</textarea>
                                </div>
                            </div> 

                            <div class="btn-container">
                                <button type="reset" class="discard-btn" id="discardChanges">Discard</button>
                                <button type="submit" class="submit-btn">Make Changes</button>
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </body>
</html>
