<!DOCTYPE html>
<html>
    <head>
        <title>
            DLSU Orgs To Pick - Search For Reviews
        </title>
        <link rel="stylesheet" href="/css/search-style.css"/>
    </head>
    <body>
        <div class="content-page">
            <div class="search-portion">
                <input class="search-bar" type="text" placeholder="Search for a Review"/>
                <div id="search-icon-container">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="content-elements">
                <div class="filter-portion">
                    <div class="filter-labels">
                        <span class="section-header">Filters</span>
                        <span class="clear-feature">Clear</span>
                    </div>
                    <div class="ratings">
                        <span class="section-subheader">Ratings</span>
                        <form class="ratings-list">
                            <div class="ratings-input-field">
                                <input type="checkbox" id="5-stars" name="5-stars" value="5-stars"/>
                                <label for="5-stars">5 
                                    <span class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                                <input type="checkbox" id="4-stars" name="4-stars" value="4-stars"/>
                                <label for="4-stars">4 
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                                <input type="checkbox" id="3-stars" name="3-stars" value="3-stars"/>
                                <label for="3-stars">3 
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                                <input type="checkbox" id="2-stars" name="2-stars" value="2-stars"/>
                                <label for="2-stars">2
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                            <input type="checkbox" id="1-stars" name="1-stars" value="1-stars"/>
                                <label for="1-stars">1
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <br/>
                    <div class="home-college">
                        <span class="section-subheader">Home College</span>
                        <form class="college-list">
                            <input type="radio" id="ccs" name="ccs" value="ccs"/>
                            <label for="ccs">CCS </label><br/>
                            <input type="radio" id="RVCOB" name="RVCOB" value="RVCOB"/>
                            <label for="RVCOB">RVCOB </label><br/>
                            <input type="radio" id="cos" name="cos" value="cos"/>
                            <label for="cos">COS </label><br/>
                            <input type="radio" id="cla" name="cla" value="cla"/>
                            <label for="cla">CLA </label><br/>
                            <input type="radio" id="gcoe" name="gcoe" value="gcoe"/>
                            <label for="gcoe">GCOE </label><br/>
                            <input type="radio" id="other" name="other" value="other"/>
                            <label for="other">Other </label><br/>
                        </form>
                    </div>
                </div>  
                <div class="review-portion">
                    <div class="review-label">
                        <span class="section-header">Reviews</span>
                    </div>
                    <div class="review-list">
                        <div class="review-section">
                            <div class="review-header">
                                <i class="fa-solid fa-user"></i>
                                <div class = "post-info">
                                    <div class="user-info-container">
                                        <div class="user-name">Chynna Mae</div>
                                        <div class="time">5 hours ago</div>
                                    </div>
                                </div>
                                <div class="rating-container">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                            <div class="review-body">
                                <a href="orgpage.html"> 
                                    <span class="review-body-header">LSCS</span>
                                </a>
                                <div>
                                    Super saya ko sa pagiging bahagi ng org na ito! Mabait at supportive ang mga members, laging may mga fun activities, at may mga pagkakataon pa para matuto at mag-grow. 
                                    Masaya akong nakakasama ko ang mga tao dito, hindi lang dahil sa mga events, kundi dahil sa mga friendship na nabubuo. 
                                    Highly recommended para sa mga gusto ng organized at welcoming na group!
                                </div>
                                <div class = "image">
                                    <img src = "https://dlsu-lscs.org/assets/static/GA_Pic.42db587.aea95c14ba5b1047884eb534e923fe12.jpg"/>
                                </div>
                            </div>
                            <div class = "review-footer">
                                <div class = "helpfulness-container">
                                    <div class = "helpfulness-item">Mark as Helpful</div>
                                    <div class = "helpfulness-item">Mark as Unhelpful</div>
                                </div>
                                <div class = "likes-container">
                                    <div class = "likes-container-2">
                                        <div>10</div>
                                        <i class = "fa-regular fa-thumbs-down"></i>
                                    </div>
                                    <div class = "likes-container-2">
                                        <div>151</div>
                                        <i class = "fa-regular fa-thumbs-up"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-section">
                            <div class="review-header">
                                <i class="fa-solid fa-user"></i>
                                <div class = "post-info">
                                    <div class="user-info-container">
                                        <div class = "user-name">Emman Punsalan</div>
                                        <div class = "time">7 hours ago</div>
                                    </div>
                                </div>
                                <div class="rating-container">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                            <div class="review-body">
                                <span class="review-body-header">GDSC</span>
                                <div>
                                    While I appreciate the effort and hard work the organization puts into its activities, I feel there are a few areas that could be improved. Sometimes, the events can feel a bit disorganized, which makes it challenging to fully enjoy the experience. It would also be great if there were more opportunities for quieter members to participate in leadership roles or events, as it sometimes feels like only a small group is involved in the decision-making process.
                                    Te kind and supportive, and there’s definitely a sense of community, so I still think it’s a good group to be a part of. I just hope that with a bit more planning and inclusivity, the organization can become even better in the future.
                                </div>
                            </div>
                            <div class = "review-footer">
                                <div class = "helpfulness-container">
                                    <div class = "helpfulness-item">Mark as Helpful</div>
                                    <div class = "helpfulness-item">Mark as Unhelpful</div>
                                </div>
                                <div class = "likes-container">
                                    <div class = "likes-container-2">
                                        <div>103</div>
                                        <i class = "fa-regular fa-thumbs-down"></i>
                                    </div>
                                    <div class = "likes-container-2">
                                        <div>10</div>
                                        <i class = "fa-regular fa-thumbs-up"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-section">
                            <div class="review-header">
                                <i class="fa-solid fa-user"></i>
                                <div class = "post-info">
                                    <div class="user-info-container">
                                        <div class = "user-name">Ezra D.R.</div>
                                        <div class = "time">10 hours ago</div>
                                    </div>
                                </div>
                                <div class="rating-container">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                            <div class="review-body">
                                <span class="review-body-header">SPRINT</span>
                                <div>
                                    Maganda naman ang aking naging karanasan sa org na ito. Lahat ng mga miyembro ay magiliw at supportive, kaya madali akong nakisama. Madalas kaming may mga activities na hindi lang nakaka-enjoy, kundi nakakatulong din sa personal na pag-unlad. Mahusay din ang mga leadership workshops at mga proyekto na ginagawa namin, kaya nakakakita kami ng maraming pagkakataon para matuto.
                                    Ang tanging suggestion ko lang ay sana mas mapagtuunan pa ng pansin ang pagpaplano ng mga events, minsan kasi parang kulang sa coordination kaya nauurong ang ilan sa mga gawain. Pero overall, ayos na ayos pa rin at marami akong natutunan sa org na ito. Highly recommended pa rin para sa mga gustong mag-join!
                                </div>
                            </div>
                            <div class = "review-footer">
                                <div class = "helpfulness-container">
                                    <div class = "helpfulness-item">Mark as Helpful</div>
                                    <div class = "helpfulness-item">Mark as Unhelpful</div>
                                </div>
                                <div class = "likes-container">
                                    <div class = "likes-container-2">
                                        <div>5</div>
                                        <i class = "fa-regular fa-thumbs-down"></i>
                                    </div>
                                    <div class = "likes-container-2">
                                        <div>545</div>
                                        <i class = "fa-regular fa-thumbs-up"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-section">
                            <div class="review-header">
                                <i class="fa-solid fa-user"></i>
                                <div class = "post-info">
                                    <div class="user-info-container">
                                        <div class = "user-name">Kyle</div>
                                        <div class = "time">11 hours ago</div>
                                    </div>
                                </div>
                                <div class="rating-container">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                            <div class="review-body">
                                <span class="review-body-header">GDSC</span>
                                <div>
                                    Talaga namang 4-star ang karanasan ko sa org na ito! Mula sa mga unang araw, ramdam ko na ang suporta at pagmamahal ng mga miyembro. Lahat kami ay may pagkakataon na mag-express ng ideas, at ang bawat isa ay nire-respeto at pinahahalagahan. Napaka-organized ng mga activities at events, kaya naman laging may pagkakataon na matuto at mag-enjoy sa mga ginagawa namin.
                                    Ang pinakagusto ko pa ay ang sense of community na nararamdaman ko. Hindi lang kami mga kasamahan sa org, kundi parang pamilya na rin. Marami akong natutunan na mga skills, at marami akong bagong kaibigan. Kung naghahanap ka ng org na may purpose, masaya, at supportive, ito na ‘yon! Highly recommended sa lahat!
                                </div>
                            </div>
                            <div class = "review-footer">
                                <div class = "helpfulness-container">
                                    <div class = "helpfulness-item">Mark as Helpful</div>
                                    <div class = "helpfulness-item">Mark as Unhelpful</div>
                                </div>
                                <div class = "likes-container">
                                    <div class = "likes-container-2">
                                        <div>9</div>
                                        <i class = "fa-regular fa-thumbs-down"></i>
                                    </div>
                                    <div class = "likes-container-2">
                                        <div>1.1k</div>
                                        <i class = "fa-regular fa-thumbs-up"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-section">
                            <div class="review-header">
                                <i class="fa-solid fa-user"></i>
                                <div class = "post-info">
                                    <div class="user-info-container">
                                        <div class = "user-name">Emman Punsalan</div>
                                        <div class = "time">1 day ago</div>
                                    </div>
                                </div>
                                <div class="rating-container">
                                    <i class="fa-solid fa-star"></i>

                                </div>
                            </div>
                            <div class="review-body">
                                <span class="review-body-header">AU</span>
                                <div>
                                    Nakakalungkot dahil hindi ko nahanap ang inaasahan ko sa org na ito. Kulang sa organisasyon at madalas hindi malinaw ang mga plano. Hindi ko naramdaman ang suporta mula sa mga miyembro, kaya nahirapan akong mag-adjust. Sana maging mas maayos ang pamamahala nila sa mga susunod na events.
                                </div>
                                <div class = "image">
                                    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlSiZlvkpMq6fhG1T6Y3_MFfY3ENrcmlCqLA&s"/>
                                </div>
                            </div>
                            <div class = "review-footer">
                                <div class = "helpfulness-container">
                                    <div class = "helpfulness-item">Mark as Helpful</div>
                                    <div class = "helpfulness-item">Mark as Unhelpful</div>
                                </div>
                                <div class = "likes-container">
                                    <div class = "likes-container-2">
                                        <div>103</div>
                                        <i class = "fa-regular fa-thumbs-down"></i>
                                    </div>
                                    <div class = "likes-container-2">
                                        <div>10</div>
                                        <i class = "fa-regular fa-thumbs-up"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-nav">
                <span id="page-numbers"><span id="cur-page">1</span> 2 3 4 5 6 ></span>
                <span id="cur-page-num">1 of 6 </span>
            </div>
        </div>
    </body>
</html>