
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/userpage.css">
    </head>

    <body>
       <div class="user-page">
            <div class="user-box">
                <div class="edit-button">
                    <a href="/useredit">
                        <button><i class="fa-solid fa-pen"></i></button>
                    </a>
                </div>
                
                <div class="profile-pic">
                    <img src="/images/#{{profileImage}}">
                </div>

                <h5 class="username">{{userName}}</h5>

                <div class="user-desc">{{userDesc}}</div>

                <a href="homepage.html">
                    <button class="logout-btn">Logout</button>
                </a>
            </div>

            <div class="review-content">
                <h1>Reviews</h1>
                <div class="review-nav">
                    <button class="review-button"><u><b>Sort by Latest</b></u></button>
                    <div class="filter-dropdown">
                        <button class="review-button filter-btn"><u><b>Filter by rating</b></u></button>
                        <div class="dropdown-content">
                            <a href="#" data-rating="5">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </a>
                            <a href="#" data-rating="4">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </a>
                            <a href="#" data-rating="3">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </a>
                            <a href="#" data-rating="2">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </a>
                            <a href="#" data-rating="1">
                                <i class="fa-solid fa-star"></i>
                            </a>
                        </div>
                    </div>
                    <div class ="review-search-container">
                        <input type= "text" class="review-search" placeholder="Search for a Review">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>

                <div id="review-container" class="review-container">
                    {{#each reviews}}
                        {{> review}}
                    {{/each}}
                </div>    
            </div>
        </div>
    </body>
</html>