.section {
    font-weight: bolder;
    width: 100%;
    min-height: 100vh;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%; 
}
.about-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px; 
    box-shadow: 15px 15px 20px #AB9D99;
    padding: 40px;
}
.header-text {
    width: 100%;
    justify-content: left;
    align-items: left;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
}
.reference-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-wrap: wrap;
    overflow-wrap: break-word;
}
.parag {
    justify-content: left;
    align-items: left;
    font-size: large;
    font-weight: normal;
    margin-bottom: 5px;
    width: 100%;
    text-wrap: wrap;
    margin-top: 40px;
    color: rgb(114, 114, 210);
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}
.parag:hover {
    color: rgb(216, 94, 94);
}

.parag:active {
    color: rgb(129, 44, 44);
}
.name {
    justify-content: left;
    align-items: left;
    font-size: large;
    font-weight: normal;
    margin-left: 10px;
}
.people-container {
    width: 100%;
}
.person {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.person img {
    height: 5%;
    width: 5%;
}