/* ORG HEADER */
.org-profile {
    width: 95%;
    padding: 20px;
    margin: 100px auto -10px;
    border-radius: 10px;
    box-shadow: 15px 15px 20px rgba(171, 157, 153, 1);
    background: white;
    text-align: center;
    position: relative;
}
.org-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.edit-icon {
    top: 15px;
    right: 15px;
    position: absolute;
}
.edit-icon button {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.edit-icon a {
    color: #3B6724;
    padding: 5px;
    border-radius: 40px;
    text-decoration: none;
}
.edit-icon a:hover {
    color: white;
    background-color: #3B6724;
}
.rating {
    color: gold;
    font-size: 24px;
}

/* FILTERS */
.filter-review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 20px;
}
.add-review-container a {
    font-family: 'Rubik';
    font-weight: bold;
    width: 150px;
    height: 35px;
    padding: 0 10px;
    color: #3B6724;
    border: 2px solid #3B6724;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 120%;
    margin-bottom: 10px;
}
.add-review-container a:hover {
    background-color: #3B6724;
    color: #D9D9D9;
}
.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 20px;
    gap: 10px;
}
.filter-btn {
    font-family: 'Rubik', sans-serif;
    background-color: transparent;
    border: 2px solid #3B6724;
    border-radius: 40px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}
.filter-btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: transparent;
    border: 40px;
}
.filter-btn a:hover,
.filter-btn:hover {
    background-color: #3B6724;
    color: white;
    font-weight: bold;
}
.filter-rating {
    position: relative;
    display: inline-block; 
}
.dropdown {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 15px 15px 20px rgba(171, 157, 153, 1);
    border-radius: 5px;
    padding: 5px;
    z-index: 10;
}
.filter-rating:hover .dropdown {
    display: block;
}
.dropdown a {
    display: block;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.dropdown a:hover {
    background: #7BA167;
}

/* SEARCH BAR */
.search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
#searchBar {
    font-family: Konkhmer Sleokchher;
    width: 100%;
    min-width: 500px;
    padding: 10px 40px 10px 15px;
    border: none;
    border-radius: 40px;
    box-shadow: 15px 15px 20px rgba(171, 157, 153, 1);
}
.search-icon {
    position: absolute;
    right: 20px;
    color: #3B6724;
    cursor: pointer;
    font-size: 18px;
}

/* REVIEWS SECTION */
.recent-reviews-container {
    padding: 0 50px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
}

/* REVIEWS */
.review {
    width: calc(33.33% - 30px);
    background: #FFFFFF;
    border-radius: 10px; 
    box-shadow: 15px 15px 20px #AB9D99;
    display: flex;
    flex-direction: column;
}
.review-container {
    font-size: 14px;
    padding: 20px;
}
.review-proper-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
.review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 100%;
}
.profile-container img{
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.user-name {
    font-size: 14px;
}
.time {
    font-weight: lighter;
    font-size: 14px;
}
.rating-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: auto;
}
.fa-star {
    color: #F8C437;
    font-size: 20px;
}
.review-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 12px;
}
.review-body-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

.review-footer {
    color: #363636;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 10px;
}
img {
    max-width: 100%;
    height: auto;
    background:#3B6724;
    border-radius: 10px; 
    margin-top: 10px;
}

/* RESPONSES */
.response-container {
    max-width: 100%;
    max-height: 30%;
    background-color: #7BA167;
    display: flex;
    flex-direction: column      ;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px; 
    margin-top: 10px;
    padding: 10px;
}
.response-header {
    font-weight: bold;
    color: #FFFFFF;
}
.response-message {
    font-weight: normal;
    max-height: 100%;
    color: #FFFFFF;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.helpfulness-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.helpfulness-item {
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #3B6724;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 10px;
}
.helpfulness-item:hover {
    background-color: #3B6724;
    color: white;
    font-weight: bold;
}
.helpfulness-item.active {
    background-color: #3B6724;
    font-weight: bold;
    color: white;
}

.helpfulness-item.active[onclick*="dislikes"] {
    font-weight: bold;
    background-color: #3B6724;
}
.likes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.likes-container-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.likes-container-content:not(:has(i)) {
    font-size: 14px;    
}
.reply-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}
.reply-btn {
    background-color: #7BA167;
    color: black;;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
}
.reply-btn:hover {
    background-color: #3B6724;
    color: white;
    font-weight: bold;
}
.reply-box-container {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}
.reply-textbox {
    width: 100%;
    height: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 12px;
}
.submit-reply-btn {
    background-color: #7BA167;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.3s;
}
.submit-reply-btn:hover {
    background-color: #3B6724;
}

/* PAGE NAV */
.page-nav {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#page-numbers {
    font-size: 18px;
    color: #9F9F9F;
    font-weight: bold;
    letter-spacing: 5px;
}
#cur-page, #cur-page-num {
    font-size: 18px;
    color: #363636;
    font-weight: bold;
}
#cur-page {
    margin-left: 400px;
}
#cur-page-num {
    margin-left: 300px;
    flex: 1;
}
