.wrapper {
    padding: 5px;
}
body {
    padding-bottom: 100px;
    min-height: 100vh;
    box-sizing: border-box;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
h2 {
    font-size: 50px;
    margin: auto;
    padding: 10px;
}
form h2 {
    font-size: 30px;
}
.review-container {
    font-family: 'Rubik', sans-serif;
    background: white;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(171, 157, 153, 1);
    width: 60%;
    padding: 5px;
    text-align: center;
    margin: 100px auto;
}
.organization-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    margin: auto;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
.rating {
    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    top: 0;
}
.desc {
    display: flex;
    flex-direction: column;
}
.fa-star {
    font-size: 30px;
    padding-bottom: 10px;
}
.star {
    font-size: 40px;
    color: black;
}
.star.selected, .star:hover {
    color: gold;
}
select {
    font-family: 'Rubik', sans-serif;
    width: 80%;
    font-size: 16px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #BBCAB2;
}
textarea {
    font-family: 'Rubik', sans-serif;
    width: 80%;
    height: 150px;
    margin: 5px 0;
    background-color: #BBCAB2;
    border-radius: 5px;
    border: none;
    outline: none;
}
.btn-container {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-top: 10px;
    margin-right: 80px;
}
.discard-btn {
    font-family: 'Rubik', sans-serif;
    background-color: transparent;
    color: black;
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
}
.discard-btn:hover {
    background: transparent;
    color: red;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}
.submit-btn {
    font-family: 'Rubik', sans-serif;
    background-color: transparent;
    color: black;
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
}
.submit-btn:hover {
    background: rgb(59, 103, 36);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}
#image-preview {
    display: none; 
    max-width: 100px; 
    margin: auto;
    padding: 10px;
}
