/* REVIEWS */
.review {
    height: auto;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px; 
    box-shadow: 15px 15px 20px #728569;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review-container {
    max-width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 20px;
}
.review-proper-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
.review-header {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}
.post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-top: 2.5px;
    width: 100%;
}
.user-name {
    font-weight: normal;
}
.time {
    font-weight: lighter;
}
.rating-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: auto;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;
}
.fa-star {
    color: #F8C437;
    font-size: 20px;
}
.review-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 12px;
}
.review-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.review-body-header {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
.review-footer {
    color: #363636;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.profile-container-img {
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 40px;
    width: 40px;
    clip-path: circle(45%);
    object-fit: cover;
    margin-right: 5px;
}

.profile-container-img img{ 
    height: 90%;
    width: 90%;
}
.image {
    height: 100px;     
    width: 100%;   
    max-width: 100%;
    max-height: 30%;
    margin-top: 10px;
}
.image img {
    height: 100%;     
    width: 100%;   
    border-radius: 10px; 
    object-fit: cover;
}
.response-container {
    max-width: 100%;
    max-height: 30%;
    background-color: #7BA167;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px; 
    margin-top: 10px;
    padding: 10px;
}
.response-header {
    font-weight: bold;
    color: #FFFFFF;
}
.response-message {
    font-weight: normal;
    max-height: 100%;
    color: #FFFFFF;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.helpfulness-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}   
.helpfulness-item {
    font-size: 10px;
    background-color: transparent;
    border: 1px solid #3B6724;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 10px;
}
.helpfulness-item:hover {
    background-color: #3B6724;
    color: white;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}
.helpfulness-item.active {
    background-color: #3B6724;
    font-weight: bold;
    color: white;
}
.helpfulness-item.active[onclick*="dislikes"] {
    font-weight: bold;
    background-color: #3B6724;
}
.likes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.likes-container-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.likes-container-content:not(:has(i)) {
    font-size: 14px;    
}

.edit-container {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.edit-container .fa-trash {
    font-size: 16px;
    cursor: pointer;
    color: #353535;
    transition: color 0.5s ease-in-out;
}
.edit-container .fa-pencil {
    font-size: 16px;
    cursor: pointer;
    color: #353535;
    margin-right: 10px;
    transition: color 0.5s ease-in-out;
}
.edit-container .fa-pencil:hover {
    color: #7BA167;
}
.edit-container .fa-trash:hover {
    color:  #aa3b3b;
}
.edit-container-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.rating-edit-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: auto; 
}
.edit-container {
    display: none;
}
.rating-edit-container:hover .gone {
    display: none;
    transition: opacity 0.5s ease;
}
.rating-edit-container:hover .edit-container {
    display: block;
}
.active-green {
    background-color: #3B6724 !important;
    color: white !important;
    font-weight: bold;
}
.edited-label {
    font-size: 0.85em;
    color: gray;
    margin-left: 5px;
}