.section-header {
    font-size: 25px;  
    font-family: Konkhmer Sleokchher;
    color: #1E1E1E;
}
.section-subheader {
    font-weight: bold;
    text-decoration: underline;
    color: #363636;
}


/* MAIN CONTENT */
.content-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
}
.content-elements {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: center;
}

/* SEARCH */
.search-portion {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 150px;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: center;

}
.search-bar {
    font-family: Konkhmer Sleokchher;
    font-size: 15px;
    text-indent: 15px;
    width: 45vw;
    height: 33%;
    border-radius: 35px;
    border: none;
}
.search-bar::placeholder {
    color: #AB9D99;
}
#search-icon-container {
    position: absolute;
    width: 40px;
    color: #7BA167;
    font-size: 30px;
    right: 0;
}

/* FILTER */
.filter-portion {
    display: flex;
    flex-direction: column;
    background-color: #BBCAB2;
    width: 65%;
    height: 70%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 5%;
    padding-top: 5%;
    gap: 1%;
}
.clear-feature {
    text-decoration: underline;
    margin-left: 5%;
}
.ratings, .home-college {
    color: #363636;
}
.ratings-list, .college-list {
    line-height: 40px;
}
.ratings-input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
}
.ratings-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stars {
    color: white;
}

.sort-header {
    font-size: 20px;
    text-decoration: underline;
    color: #3B6724;
    font-weight: bold; 
}

/* ORGANIZATION */
.org-portion {
    margin-left: auto;
    align-self: center;
    flex: 1;
}
.org-labels {
    display: flex;
    gap: 5%;    
    align-items: center;
}
.org-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2%;
    align-items: center;
}
.org-section {
    display: grid;
    grid-template-columns: 25% 1fr;
    column-gap: 2%;
    background-color: white;
    width: 70%;
    height: 80%;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}
.org-profile-pic {
    width: 100%;
    border-radius: 50%;
    justify-self: center;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.25);
}
.org-info {
    display: flex;
    flex-direction: column;
}
.org-name {
    text-decoration: underline; 
    font-size: 26px;
    font-weight: bold;
    color: #363636;
}
.org-stars {
    display: flex;
    flex-direction: row;
    color: #F8C437;
    font-size: 20px;
}
.rating-text {
    margin-left: 2%;
    font-weight: lighter;
    font-size: 18px;
    color: #363636;
}
.review-desc {
    padding-top: 2% ;
    width: 90%;
    font-size: 16px;
}
.org-college {
    color: #728569;
    margin-top: 15px;
}

/* REVIEWS */
.review-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 20px;
    background-color: white;
    box-shadow: 15px 15px 20px #AB9D99;
    width: 700px;
    height: auto;
    border-radius: 10px;
}
.review-label {
    margin-bottom: 10px;

}
.review-header {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: 100%;
}
.post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 100%;
}
.user-name {
    font-weight: normal;
    font-size: 14px;
}
.time {
    font-weight: lighter;
    font-size: 14px;
}
.rating-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: auto;
}
.review-section .fa-star {
    color: #F8C437;
    font-size: 20px;
}
.review-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 14px;
    margin-bottom: 20px;
}
.review-body-header {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.review-footer {
    color: #363636;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    width: 100%;
}
.fa-user {
    font-size: 40px;
    color:#3B6724; 
    padding-right: 10px;
}
img {
    max-width: 100%;
    height: auto;
    background:#3B6724;
    border-radius: 10px; 
    margin-top: 10px;
}
.helpfulness-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.helpfulness-item {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 10px;
}
.likes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.likes-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.fa-thumbs-up {
    font-size: 20px;
    padding: 0px;
    padding-left: 10px;
}
.fa-thumbs-down {
    font-size: 20px;
    padding: 0px;
    padding-left: 10px;
}
.review-portion {
    margin-left: 100px;
    flex: 1;
}
.review-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    align-items: center;
}

/* BOX SHADOW */
.search-bar, .filter-portion, .org-section {
    box-shadow: 20px 20px 15px rgba(0,0,0,0.25);
}

/* PAGE NAV */
.page-nav {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#page-numbers {
    font-size: 18px;
    color: #9F9F9F;
    font-weight: bold;
    letter-spacing: 5px;
}
#cur-page, #cur-page-num {
    font-size: 18px;
    color: #363636;
    font-weight: bold;
}
#cur-page {
    margin-left: 340px;
}
#cur-page-num {
    margin-left: 490px;   
    flex: 1;
}

/* FOOTER */
.footer {
    width: 100%;
    height: 21vh;
    background-color: #3B6724;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    font-size: 16px;
}
.footer-text {
    padding: 10px;
}