.indicator {
    font-size: 14px;
}
.indicator-2 {
    padding-top: 10px;
    font-size: 16px;
}
.edit-section {
    font-weight: bolder;
    width: 100%;
    height: 100vh;
    background-color: #D9D9D9;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.edit-container {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 10px; 
    box-shadow: 15px 15px 20px #AB9D99;
    padding: 10px;
}
.header-text {
    justify-content: left;
    align-items: left;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}
.avatar-container {
    height: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.avatar-container img {
    height: 80px;
    width: 80px;
    clip-path: circle(45%);
    object-fit: cover;
}
.remember-me-container {
    height: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}
.submit-container {
    height: 20px;
    width: 75%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    color: #3B6724;
}
.submit-button {
    width: 100px;
    height: 35px;
    font-size: 14px;
    background-color: #3B6724;
    color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.input-field-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}
.url-area-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.url-area-container textarea{
    width: 100%;
    height: 15px;
    background-color: #BBCAB2;
    border: none;
    outline: none;
    padding: 5px;
}
.text-area-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.text-area-container textarea{
    width: 100%;
    height: 75px;
    background-color: #BBCAB2;
    border: none;
    outline: none;
    padding: 10px;
}

